{% extends 'calculator/base.html' %}

{% block title %} Info {% endblock %}
{% block content %}
<script type="text/javascript">
           window.history.forward(1);
</script>

<style>
.ramka
    {
      margin: 0 auto;                   /* положение по центру экрана */
      width: 1200px;	                  /* ширина */
      background: #E9F6E2;              /* цвет фона */
      border-right: 1px solid #23A650;  /* зеленая рамка */
      border-left:  1px solid #23A650;  /* зеленая рамка */
    }

  .but-kasko
    {
      text-decoration:none; text-align:center;
      margin-right: 0px;
      padding:11px 32px;
      border:solid 1px #16b546;
      border-radius: 4px;
      font:16px Arial, Helvetica, sans-serif;
      font-weight:bold;
      color:#ffffff;
      background-color:#38871b;
      background-image: linear-gradient(top, #38871b 0% ,#137818 100%);
    }

  .but-kasko:hover
    {
      margin-right: 0px;
      padding:11px 32px;
      border:solid 1px #16b546;
      border-radius: 4px;
      font:16px Arial, Helvetica, sans-serif;
      font-weight:bold;
      color:#ffffff;
      background-color:#589940;
      background-image: linear-gradient(top, #589940 0% ,#248529 100%);
      box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }
  .information
    {
      margin-left: 40px;
    }
  h4
    {
      margin-left: 20px;
    }
</style>
 <div class="ramka">
   <h4>Коэффициенты</h4>
      <div class="information">
        Тб - базовая тарифная ставка;<br>
        Квс - коэффициент, учитывающий возраст и стаж допущенных к управлению ТС лиц;<br>
        Кд - коэффициент, учитывающий количество допущенных к управлению лиц;<br>
        Ккл - коэффициент класса водителей по данным АИС-РСА на дату начала срока страхования по КАСКО;<br>
        Ккр - коэффициент краткосрочности (при заключении договора страхования на срок менее года);<br>
        Кр - коэффициент, учитывающий рассрочку платежа;<br>
        Км - коэффициент, учитывающий класс автомастерской;<br>
        А.кф - андеррайтерский коэффициент, применяемый при наличии условий,не учитываемых в системе расчета тарифных ставок,<br>
        а также при наличии других обстоятельств, которые могут быть признаны существенными при определении размера страхового риска
      </div>
   <h4>Новое КАСКО (500+)</h4>
      <div class="information">
        На страхование принимаются легковые транспортные средства (категории «В») иностранного производства,<br>
        состоящие на регистрационном учете в Госавтоинспекции Томской области, <br>
        со страховой суммой не менее 600 000,00 руб. и не более 7 000 000,00 руб. со сроком эксплуатации до 5 лет включительно.<br>
        Количество лиц, допущенных к управлению ТС, не более 4-х человек; <br>
        Кбм ОСАГО по базе РСА всех водителей из перечня в пределах  0,8-0,5 включительно.<br>
        Поддержка программы чтения с экрана включена.
      </div>
    <h4>ТЕЛЕМАТИКА</h4>
      <div class="information">
        На страхование принимаются легковые автомобили категории В, состоящие на регистрационном учете в Госавтоинспекции Томской области,<br>
        со страховой суммой от 500 000 руб.: иностранного производства со сроком эксплуатации до 10 лет включительно,<br>
        отечественного производства со сроком эксплуатации до 5 лет включительно.
      </div>
    <h4>УДАЧА</h4>
      <div class="information">
        На страхование принимаются ТС отечественного и иностранного производства не старше 5 лет со стоимостью от 300 000 руб.;<br>
        • Водители со стажем от 5 лет и возрастом от 25 лет;<br>
        • Срок страхования – один год;<br>
        • Страховая премия подлежит оплате единовременно;<br>
        • При заключении договора страхователь уплачивает только 50% от суммы годовой премии. <br>
          При этом в договоре на каждый страховой случай устанавливается размер некомпенсируемого убытка <br>
          (безусловная франшиза) в размере 10% от страховой суммы. <br>
          Страхователь имеет право в течение всего срока действия договора доплатить 50% страховой премии для того, <br>
          чтобы исключить безусловную франшизу (но не позднее, чем через 5 рабочих дней с даты подачи заявления на страховую выплату). <br>
          После доплаты страховой премии, франшиза не распространяется на один предшествующий доплате премии страховой случай,<br>
          а также на все последующие случаи.
      </div>
    <h4>Добровольное страхование автогражданской ответственности</h4>
      <div class="information">
        Заключается только совместно с договорами страхования КАСКО,<br>
        либо договорами страхования обязательной автогражданской ответственности (ОСАГО), с периодом страхования 12 месяцев.<br>
        Выплата страхового возмещения производится в случае превышения лимита выплаты по договору ОСАГО. <br>
        В сумму страховой выплаты по риску "Гражданская ответственность" включается: <br>
        ущерб, причиненный повреждением или уничтожением имущества Потерпевшего,<br>
        в размере расходов по ремонту (восстановлению) поврежденного имущества.<br>
        Выплата страхового возмещения производится с вычетом на износ.d
      </div>
    <h4>Страхование жизни и здоровья</h4>
      <div class="information">
        Застраховать можно либо отдельные посадочные места в салоне транспортного средства, либо все посадочные места.<br>
        Если страхуются только отдельные посадочные места, то в заявлении необходимо указать,<br>
        какие именно посадочные места будут застрахованы:<br>
        Поддержка программы чтения с экрана включена.<br>
      </div>
 </div>
{% endblock %}
